.git
.gitignore
.editorconfig
.gitattributes

.env
.env.*
auth.json

vendor
node_modules
npm-debug.log
yarn-error.log

public/build
public/hot
public/storage

storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*

tests
.phpunit.cache
.phpunit.result.cache
phpunit.xml

README.md
RAILWAY_DEPLOYMENT.md
gym_membership.sql
image.png
*.pdf
